.dot {
    width: 8px;
    height: 8px;
}

.verticalLine {
    width: 8px;
    height: 36px;
}

.horizontalLine {
    width: 36px;
    height: 8px;
}

.box {
    width: 36px;
    height: 36px;
}

.dotsGrid td {
    padding: 0;
    border: 0;
}
