.dot {
    width: 8px;
    height: 8px;
}

.verticalLine {
    width: 8px;
    height: 36px;
}

.horizontalLine {
    width: 36px;
    height: 8px;
}

.box {
    width: 36px;
    height: 36px;
}

.dotsGrid td {
    padding: 0;
    border: 0;
}

.redBackground {
    background: red;
}

.blueBackground {
    background: blue;
}

.blankBackground {
    background: white;
}

.blackBackground {
    background: black;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}